* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1D4ED8;
  --secondary: #2563EB;
  --background: #FFFFFF;
  --text: #111827;
  --gray: #6B7280;
  --light: #F3F6FA;
  --border: #E5E7EB;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f7fb;
  color: var(--text);
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.screen {
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  margin: auto;
  background: white;
}

.hidden {
  display: none !important;
}


/* SPLASH */

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-icon {
  font-size: 72px;
  margin-bottom: 10px;
}

.logo-box h1 {
  color: var(--primary);
  font-size: 38px;
  font-weight: 700;
}

.logo-box h1 span,
.brand h2 span {
  font-weight: 500;
}

.logo-box p {
  margin-top: 8px;
  color: #444;
}


/* AUTH */

.auth-screen {
  padding: 25px 20px;
}

.auth-header {
  margin-bottom: 60px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mini-logo {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: #eef4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.brand h2 {
  color: var(--primary);
  font-size: 18px;
}

.brand small {
  color: #777;
  font-size: 9px;
}

.auth-card h1 {
  font-size: 27px;
}

.auth-card > p {
  color: var(--gray);
  font-size: 13px;
  margin: 5px 0 28px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 7px;
}

.input-group input {
  width: 100%;
  height: 52px;
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 0 15px;
  outline: none;
  font-size: 14px;
}

.input-group input:focus {
  border-color: var(--primary);
}

.primary-btn {
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 12px;
  background: var(--primary);
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.switch-text {
  text-align: center;
  margin-top: 22px !important;
}

.switch-text button {
  border: none;
  background: none;
  color: var(--primary);
  font-weight: 600;
}

.message {
  text-align: center;
  font-size: 13px;
}


/* HEADER */

.top-header {
  height: 75px;
  padding: 15px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-btn {
  border: none;
  background: transparent;
  font-size: 27px;
}


/* HOME */

.home-content {
  padding: 0 18px 100px;
}

.search-box {
  height: 48px;
  background: #f6f7f9;
  border: 1px solid #eee;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 14px;
  color: #777;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}


/* BANNER */

.banner {
  margin-top: 18px;
  padding: 20px;
  height: 175px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    #1D4ED8,
    #2563EB
  );

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.banner h1 {
  font-size: 21px;
  line-height: 1.25;
}

.banner p {
  font-size: 10px;
  margin: 8px 0 13px;
  max-width: 180px;
}

.banner button {
  background: white;
  color: var(--primary);
  border: none;
  padding: 9px 15px;
  border-radius: 8px;
  font-weight: 600;
}

.banner-shirt {
  font-size: 90px;
  transform: rotate(-8deg);
}


/* SECTION */

.section-title {
  margin-top: 25px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title h3 {
  font-size: 16px;
}

.section-title button {
  background: none;
  border: none;
  color: var(--primary);
  font-size: 11px;
}


/* CATEGORIES */

.categories {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.category {
  min-width: 62px;
  text-align: center;
}

.category-icon {
  width: 58px;
  height: 58px;
  border: 1px solid var(--border);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.category span {
  font-size: 9px;
  display: block;
  margin-top: 5px;
}


/* DESIGNS */

.designs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.design-card {
  height: 105px;
  background: #f8fafc;
  border: 1px solid #eee;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.design-preview {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

.blue-text {
  color: var(--primary);
  font-style: italic;
}


/* BOTTOM NAV */

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  height: 70px;
  background: white;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}

.nav-item {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  color: #777;
}

.nav-item span {
  font-size: 23px;
}

.nav-item small {
  font-size: 9px;
}

.nav-item.active {
  color: var(--primary);
}

.create-btn {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 5px solid white;
  background: var(--primary);
  color: white;
  font-size: 29px;
  margin-top: -28px;
  box-shadow: 0 5px 15px #bbb;
}
